/* ========== Reset e Raiz ==========*/
*{
    margin: 0px;
    padding: 0px;
    font-family: font1, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
}
a {
    text-decoration: none;
}
@font-face {
    font-family: "font1";
    src: url("../fonts/Poppins-Medium.ttf") format("truetype");
}

:root {
    --cor1: #FF771D;
    --cor2: #090F4B;
    --cor3: #429867;
    --cor4: #2b5166;
    --cor5: #482344;
    
    --font1: font1;
}

body {
    background-color: #fdfdfd;
    height: 100vh;
}

a#btnSubir {
    background-color: var(--cor3);
    position: fixed;
    bottom: -100%;
    right: 1.5%;
    z-index: 400;
    color: #fff;
    font-size: 50px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.7s;
    padding: 0px 0 2px 0;
}
a#btnSubir.aparece {
    bottom: 2%;
    animation: crescer 0.5s infinite alternate ease-in-out;
}
@media (max-width: 700px) {
    a#btnSubir.aparece {
        font-size: 35px;
        height: 40px;
        width: 40px;
    }
}

/* 
	========== Header ==========
*/
header{
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 0px 60px;
    transition: .5s;
    background-color: #fff;
    box-shadow: 0 0 20px #ccc;
}

header nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 3%;
}
header nav div#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

header nav div#logo a img {
    height: 55px;
    width: 55px;
}

header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin: 3px;
}
header nav ul a{
    font-size: 18px;
    text-decoration: none;
    color: var(--dark);
    font-weight: 700;
    transition: .3s;
    display: block;
    transform: scale(0.9);
    font-family: var(--font1);

}
header nav ul a.ativo, header nav ul a:hover{
    color: var(--cor1);
    border-bottom: 4px solid var(--cor1);
    transform: scale(1);
}

header div.extra {
    display: flex;
    align-items: center;
    gap: 10px;
}
header nav button#btnMenu{
    height: 50px;
    width: 40px;
    border: none;
    cursor: pointer;
    padding: 2px;
    background-color: transparent;
    display: none;
}
header nav button#btnMenu span.linha{
    height: 4px;
    width: 100%;
    background-color: var(--cor5);
    display: block;
    margin: 6px auto;
    position: relative;
    transform-origin: center;
}
header nav button.ativar span.linha:nth-child(2){
    visibility: hidden;
}
header nav button.ativar span.linha:nth-child(1){
    transform: translateY(9px) rotate(-42deg);
    transition: 0.2s;
}
header nav button.ativar span.linha:nth-child(3){
    transform: translateY(-11px) rotate(42deg);
    transition: 0.2s;
}
header nav div.icones {
    display: flex;
    gap: 5px;
}
header nav div.icones a {
    font-size: 17px;
    color: #fff;
    font-weight: 700;
    border: 2px solid var(--cor1);
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 5px 12px;
}
header.rolou {
    height: 80px;
}
@media (max-width: 800px) {
    header{
        height: 80px;
        padding: 5px 20px;
    }
    header.rolou {
        height: 70px;
    }
    header nav div#logo a img {
        height: 45px;
        width: 45px;
    }
    header nav {
        padding-right: 0;
    }
    
    header nav a#btnLogin {
        right: 60px;
    }
    
    header nav button#btnMenu{
        display: block;
    }
    
    header nav ul{
        position: absolute;
        top: 65px;
        left: 1000px;
        background-color: var(--cor1);
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 100;
        padding: 20px 0px 10px 0px;
        transition: .8s;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    }
    header nav ul li{
        margin: 5px;
    }
    header nav ul li a{
        padding-left: 10px;
        font-size: 18px;
        border-left: 5px solid transparent;
        color: #fff;
    }
    header nav ul a.ativo, header nav ul a:hover{
        transform: scale(0.9);
        border: none;
        border-left: 5px solid #fff;
        color: #fff;
    }
    header nav ul.mostrar{
        left: 0px;
    }
}
/*
	========== ========== ========== ========== ==========
*/

/*
    ========== Main ==========
*/

main {
    padding: 10px 0 50px 0;
}

main section#top {
    margin: 80px 0 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--cor1);
    padding: 1% 8% 10% 8%;
    height: 100vh;
    min-height: 300px;
    max-height: 1000px;
}
main section#top div.texto {
    width: 70%;
}

main section#top div.texto h1 {
    color: #fff;
    font-size: 50px;
    font-family: var(--font1);
    line-height: 65px;
}

main section#top div.texto h1 strong {
    color: #000;
}

main section#top div.texto p {
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
}

main section#top div.texto div.botoes {
    display: flex;
    margin: 30px 0 10px 0;
    gap: 10px;
}

main section#top div.texto div.botoes a {
    padding: 10px 15px;
    color: #fff;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
}
main section#top div.texto div.botoes a.destaque {
    background-color: #000;
    color: #fff;
}
main section#top div.texto div.botoes a.bt1 {
    background-color: #fff;
    color: var(--cor1);
}

@media (max-width: 800px) {
    main section#top div.texto {
        width: 100%;
    }
    
    main section#top div.texto h1 {
        font-size: 38px;
        line-height: 55px;
    }
    
    main section#top div.texto p {
        font-size: 17px;
    }
    
    main section#top div.texto div.botoes {
        margin: 10px 0 8px 0;
    }
    
    main section#top div.texto div.botoes a {
        font-size: 13px;
    }
}

main section.destaque {
    padding: 3% 4%;
}

main section.destaque div.top{
    display: flex;
    justify-content: space-between;
}

main section.destaque div.top div h1 {
    font-size: 30px;
}

main section.destaque div.top div p {
    font-size: 16px;
}

main section.destaque div.top a {
    color: var(--cor1);
    font-size: 16px;
    font-weight: bold;
}

.listaCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin: 50px 0 0 0;
}

.listaCard div.card {
    width: 100%;
    max-width: 270px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    background-color: #fff;
    overflow: hidden;
}

.listaCard div.card div.imagem {
    width: 100%;
    height: 175px;
}

.listaCard div.card div.imagem img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.listaCard div.card div.informacoes {
    padding: 20px;
}

.listaCard div.card div.informacoes h2{
    font-size: 18px;
}

.listaCard div.card div.informacoes h3 {
    font-size: 16px;
}

.listaCard div.card div.informacoes p {
    font-size: 13px;
    margin: 8px 0;
}
.listaCard div.card div.informacoes p a {
    color: #333;
}
.listaCard div.card div.informacoes p.preco {
    display: flex;
    justify-content: space-between;
}

.listaCard div.card div.informacoes p.preco strong {
    color: var(--cor1);
    font-size: 17px;
}

.listaCard div.card div.botoes {
    padding: 0 0 30px 0;
    text-align: center;
}

.listaCard div.card div.botoes a {
    background-color: var(--cor1);
    color: #fff;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
}
.listaCard div.card2 {
    width: 100%;
    max-width: 200px;
    box-shadow: none;
}

.listaCard div.card2 div.imagem {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
}

.listaCard div.card2 div.imagem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.listaCard div.card2 div.informacoes {
    padding: 4px;
    text-align: center;
}

.listaCard div.card2 div.informacoes h2{
    font-size: 18px;
}

.listaCard div.card2 div.informacoes p {
    font-size: 13px;
    margin: 5px 0;
}
.listaCard div.card2 div.informacoes p a {
    color: #333;
}
.listaCard div.card2 div.informacoes p.preco {
    display: flex;
    justify-content: space-between;
}

.listaCard div.card2 div.informacoes p.preco strong {
    color: var(--cor1);
    font-size: 17px;
}

.listaCard div.card3 {
    width: 100%;
    max-width: 270px;
}

.listaCard div.card3 div.imagem {
    width: auto;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.listaCard div.card3 div.imagem a {
    background-color: #345;
    border-radius: 50%;
    overflow: hidden;
    height: 130px;
    width: 130px;
    display: block;
}

.listaCard div.card3 div.imagem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.listaCard div.card3 div.informacoes {
    padding: 1% 5%;
    text-align: center;
    margin: 0 0 20px 0;
}

.listaCard div.card3 div.informacoes h2{
    font-size: 18px;
}
.listaCard div.card3 div.informacoes h3 {
    color: var(--cor1);
}
.listaCard div.card3 div.informacoes p {
    font-size: 12px;
    margin: 5px 0;
}
.listaCard div.card3 div.informacoes p a {
    color: #333;
}
.listaCard div.card4 div.imagem img{
    object-fit: cover;
}

@media (max-width: 700px) {
    main section.destaque div.top div h1 {
        font-size: 30px;
    }
    
    main section.destaque div.top div p {
        font-size: 15px;
    }
    main section.destaque div.top a {
        font-size: 18px;
    }
    @media (max-width: 600px) {
        .listaCard div.card {
            max-width: 500px;
        }
        .listaCard div.card2 {
            max-width: 200px;
        }
    }
    @media (max-width: 500px) {
        .listaCard div.card2 {
            max-width: 300px;
        }

    }
}
/*
	========== ========== ========== ========== ==========
*/

/*
    Filtro
*/
section#filtro {
    padding-top: 50px;
    color: var(--cor5);
}

section#filtro > h2 {
    color: var(--cor5);
    text-align: center;
}

section#filtro > p {
    font-size: 18px;
    margin: 5px 0px;
    text-align: center;
}

section#filtro aside.botoes {
    width: 98%;
    max-width: 1300px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

section#filtro aside.botoes button {
    padding: 5px 12px;
    font-size: 15px;
    border: 0;
    border-radius: 8px;
    transition: 0.2s;
}

section#filtro aside.botoes button:hover,
section#filtro aside.botoes button.ativo {
    background-color: var(--cor1);
    color: #fff;
    transform: scale(1.01);
}

section#filtro .listaCard {
    justify-content: center;
}

/*
    Pop-up 
*/
div.caixaPop {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 5% 0 20% 0;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    overflow-y: auto;
    z-index: 11;
}
div.caixaPop section#popAddProduto {
    background-color: #fff;
    width: 95%;
    max-width: 850px;
    border-radius: 10px;
    overflow: hidden;
    animation: crescer 0.2s ease-in-out forwards;
}

div.caixaPop section#popAddProduto div.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--cor1);
    color: #fff;
}

div.caixaPop section#popAddProduto div.top h2 {
    font-size: 17px;
}

div.caixaPop section#popAddProduto div.top button {
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: #fff;
}


div.caixaPop section#popAddProduto table {
    padding: 10px;
}

div.caixaPop section#popAddProduto table td {
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 17%;
}

div.caixaPop section#popAddProduto table td.botoesRemover {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.caixaPop section#popAddProduto table td.botoesRemover a {
    color: var(--cor1);
    font-size: 30px;
}

div.caixaPop section#popAddProduto table td.imagem {
    height: 50px;
    width: 50px;
}

div.caixaPop section#popAddProduto table td.imagem img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

div.caixaPop section#popAddProduto div.botoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px 15px 10px;
}

div.caixaPop section#popAddProduto div.botoes a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

div.caixaPop section#popAddProduto div.botoes a.btnFinalizar {
    background-color: var(--cor1);
}

@media (max-width: 600px) {
    div.caixaPop section#popAddProduto table td {
        font-size: 15px;
    }
    
    div.caixaPop section#popAddProduto table td.botoesRemover a {
        font-size: 20px;
    }
    
    div.caixaPop section#popAddProduto table td.imagem {
        display: none;
    }
    
    div.caixaPop section#popAddProduto div.botoes a {
        padding: 3px 7px;
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    div.caixaPop section#popAddProduto table td {
        font-size: 14px;
        padding: 0;
    }
    
    div.caixaPop section#popAddProduto table td.botoesRemover a {
        font-size: 17px;
        padding: 0;
    }
    
    
    div.caixaPop section#popAddProduto div.botoes a {
        font-size: 14px;
    }
}

/* 
	========== footer ==========
*/
footer {
	width: 100%;
	background-color: #333;
	background-color: var(--cor2);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
	padding: 50px 0px 0px 0px;
    transition: all 0.3s ease-in-out;
}
footer#footerInicio{
	width: 100%;
}
footer section {
	width: 24%;
	color: #fff;
	padding: 5px;
}
footer section h2 {
	font-size: 22px;
	margin: 10px 0;
}
footer section p,
footer section a {
	font-size: 15px;
	margin: 5px 0;
	display: block;
	text-decoration: none;
	color: #fff;
	width: 100%;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


footer section#copy {
	width: 100%;
	text-align: center;
	background-color: var(--cor6);
	margin: 10px 0 0 0;
	padding: 20px 10px;
}
footer section#copy a {
	text-wrap: wrap;
}

@media (max-width: 800px) {
	footer {
        width: 100%;
    }
	footer section {
		width: 30%;
	}
	footer section#copy{
		width: 100%;
	}
}

@media (max-width: 600px) {
	footer section {
		width: 95%;
	}
	footer section#copy{
		font-size: 15px;
		width: 100%;
	}
}
/*
	========== ========== ========== ========== ==========
*/