/* ========== Início do footer ==========*/

footer {
	width: 100%;
	background-color: #333;
	background-color: var(--cor2);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 5px;
	padding: 50px 0px 0px 0px;
    transition: all 0.3s ease-in-out;
}
footer#footerInicio{
	width: 100%;
}
footer section {
	width: 24%;
	color: #fff;
	padding: 5px;
}
footer section h2 {
	font-size: 22px;
	margin: 10px 0;
}
footer section p,
footer section a {
	font-size: 17px;
	margin: 5px 0;
	display: block;
	text-decoration: none;
	color: #fff;
	width: 100%;
	text-wrap: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


footer section#copy {
	width: 100%;
	text-align: center;
	background-color: var(--cor6);
	margin: 10px 0 0 0;
	padding: 20px 10px;
}
footer section#copy a {
	text-wrap: wrap;
}

@media (max-width: 800px) {
	footer {
        width: 100%;
    }
	footer section {
		width: 30%;
	}
	footer section#copy{
		width: 100%;
	}
}

@media (max-width: 600px) {
	footer section {
		width: 95%;
	}
	footer section#copy{
		font-size: 15px;
		width: 100%;
	}
}
