/*
    Estilos específicos do index
*/

main section#opcoes {
    display: flex;
    gap: 10px;
    padding: 20px 10px;
    justify-content: center;
}

main section#opcoes a {
    padding: 8px 20px;
    color: #fff;
    font-size: 16px;
    background-color: var(--cor1);
    border-radius: 10px;
}