/*
    Estilos específicos dos carrinhos
*/

main section#top {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    height: auto;
    max-height: initial ;
    width: 100%;
    padding: 2% 0;
}

main section#top div.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--cor1);
    color: #fff;
}

main section#top div.top h2 {
    font-size: 17px;
}

main section#top div.top button {
    border: none;
    background-color: transparent;
    font-size: 40px;
    color: #fff;
}


main section#top table {
    padding: 10px;
}

main section#top table td {
    font-size: 18px;
    padding: 5px 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 17%;
}

main section#top table td.botoesRemover {
    display: flex;
    justify-content: center;
    align-items: center;
}

main section#top table td.botoesRemover a {
    color: var(--cor1);
    font-size: 30px;
}

main section#top table td.imagem {
    height: 50px;
    width: 50px;
}

main section#top table td.imagem img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

main section#top div.botoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px 15px 10px;
}

main section#top div.botoes a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

main section#top div.botoes a.btnFinalizar {
    background-color: var(--cor1);
}

@media (max-width: 600px) {
    main section#top table td {
        font-size: 15px;
    }
    
    main section#top table td.botoesRemover a {
        font-size: 20px;
    }
    
    main section#top table td.imagem {
        display: none;
    }
    
    main section#top div.botoes a {
        padding: 3px 7px;
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    main section#top table td {
        font-size: 14px;
        padding: 0;
    }
    
    main section#top table td.botoesRemover a {
        font-size: 17px;
        padding: 0;
    }
    
    
    main section#top div.botoes a {
        font-size: 14px;
    }
}