/*
    Estilos específicos dos detalhes dos produtos
*/

main section#top {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    color: #000;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    height: auto;
    max-height: initial ;
}

 section#top div.imagem {
    height: 400px;
    width: 400px;
    border: 3px solid var(--cor1);
    overflow: hidden;
    border-radius: 20px;
}
 section#top div.imagem a {
    padding: 0;
    border-radius: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}
 section#top div.imagem a img {
    height: 100%;
    width: 100%;
}

 section#top div.informacoes {
    font-weight: bold;
}

 section#top div.informacoes h1 {
    font-size: 35px;
}

 section#top div.informacoes p {
    font-size: 20px;
    margin: 10px 0;
}

 section#top div.informacoes p a {
    padding: 0;
    color: var(--cor1);
}

 section#top div.descricao {
    width: 90%;
} 

@media (max-width: 500px) {
     section#top div.informacoes h1 {
        font-size: 28px;
    }
     section#top div.imagem {
        height: 350px;
        width: 100%;
    }
}
