/*
    Estilos específicos dos carrinhos
*/

main section#top {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    height: auto;
    max-height: initial ;
    width: 100%;
    padding: 2% 0;
}

main section#top div.fatura {
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    padding: 2%;
}

main section#top div.fatura  h1 {
    font-size: 18px;
}

main section#top div.fatura p {
    font-size: 14px;
}

main section#top div.fatura div.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

main section#top div.fatura div.top div.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

main section#top div.fatura div.top div.left div.logo {
    height: 70px;
    width: 70px;
}

main section#top div.fatura div.top div.left div.logo img {
    height: 100%;
    width: 100%;
}

main section#top div.fatura div.infoEmpresa {
    margin: 10px 0;
}

main section#top div.fatura div.infoCliente {
    margin: 20px 0;
}

main section#top div.fatura table {
    border: 1px solid #ddd;
    width: 100%;
    border-collapse: collapse;
}

main section#top div.fatura table td {
    border: 1px solid #ddd;
    padding: 7px;
}

main section#top div.fatura table thead td,
main section#top div.fatura table tfoot td {
    font-weight: bold;
}

main section#top div.fatura table tbody td {
    font-size: 13px;
}

main section#top div.botoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px 15px 10px;
}

main section#top div.botoes a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

main section#top div.botoes a.btnImprimir {
    background-color: var(--cor1);
}

@media (max-width: 600px) {
    main section#top table td {
        font-size: 15px;
    }
    
    main section#top table td.botoesRemover a {
        font-size: 20px;
    }
    
    main section#top table td.imagem {
        display: none;
    }
    
    main section#top div.botoes a {
        padding: 3px 7px;
        font-size: 15px;
    }
}

 /* ESPECÍFICO: quando imprimir escondemos todo o resto */
    @media print {
        body * {
          visibility: hidden !important;
        }
        header, footer {
            display: none;
        }
        main section#top div.fatura {
            visibility: visible !important; 
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            min-width: 200px;
            box-shadow: none;
            margin: 10px auto;
        }
        
        main section#top div.fatura * {
            visibility: visible !important;
        }
        @page { 
            size: A4 portrait; margin: 0;
        }
    }

@media (max-width: 450px) {
    main section#top div.botoes a {
        font-size: 14px;
    }
}