/*
    Estilos específicos dos carrinhos
*/

main section#top {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    height: auto;
    max-height: initial ;
    width: 100%;
    padding: 2% 0;
}

main section#top div.opcoes {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}
main section#top div.opcoes div.item {
    width: 120px;
    border: 2px solid var(--cor2);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.1s;
}

main section#top div.opcoes div.item:hover,
main section#top div.opcoes div.item.ativo {
    border-color: var(--cor1);
    transform: scale(1.05);
}

main section#top div.opcoes div.item div.imagem {
    height: 60px;
    width: 100%;
    background-color: #ddd;
}

main section#top div.opcoes div.item div.imagem img {
    height: 100%;
    width: 100%;
}

main section#top div.opcoes div.item h2 {
    font-size: 12px;
    margin: 10px;
}

main section#top div.valor h1 {
    font-size: 25px;
}

main section#top div.botoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 10px 15px 10px;
}

main section#top div.botoes a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
}

main section#top div.botoes a.btnFinalizar {
    background-color: var(--cor1);
}

@media (max-width: 600px) {
    main section#top table td {
        font-size: 15px;
    }
    
    main section#top table td.botoesRemover a {
        font-size: 20px;
    }
    
    main section#top table td.imagem {
        display: none;
    }
    
    main section#top div.botoes a {
        padding: 3px 7px;
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    main section#top table td {
        font-size: 14px;
        padding: 0;
    }
    
    main section#top table td.botoesRemover a {
        font-size: 17px;
        padding: 0;
    }
    
    
    main section#top div.botoes a {
        font-size: 14px;
    }
}